* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $font-cuarta;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    width: 12px;
}

body::-webkit-scrollbar-thumb{
    background-color: rgba($color: $color-segundo, $alpha: .7);
    border-radius: 50px;
}

a {
    text-decoration: none;
}


h1, h2, h3, h4, h5{
    overflow: hidden;
}

section {
    margin-top: 100px;
}

.w-50 {
    width: 50%;
}

.w-33 {
    width: 33.333%;
}

.no-visible{
    opacity: 0;
}

.no-display{
    display: none;
}

.btn-transparent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 45px;
    color: #FFF;
    border: 3px solid $color-tercero;
    border-radius: 20px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 15px;
    z-index: 2;
    transition: all 0.5s;

    &:hover{
        color: $color-segundo;
        border: 3px solid #FFF;
        transform: scale(1.1);
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0px;
        height: 100%;
        background: #FFF;
        z-index: -2;
        transition: all 1s;
        
    }

    &:hover::before{
        width: 30px;
        transform: translateX(125px);
        opacity: 0;
    }
}

.btn-prin {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 45px;
    color: #FFF;
    background: $color-segundo;
    border: 3px solid $color-tercero;
    border-radius: 20px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 500;
    transition: all 0.5s;

    &:hover{
        color: $color-segundo;
        background: transparent;
        border: 3px solid $color-segundo;
        transform: scale(1.1);
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0px;
        height: 100%;
        background: #FFF;
        z-index: -1;
        transition: all 0.8s;
        
    }

    &:hover::before{
        width: 30px;
        transform: translateX(70px);
        opacity: 0;        
    }
}

.iconsPrin {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 10px;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        margin: 0 5px;
        font-size: 17px;
        color: $color-segundo;
        /* background: var(--color-segundo); */
        border-radius: 50%;
        border: 2px solid $color-segundo;
    }

}